---
# You need to have installed LLVM. You can install it from:
# http://releases.llvm.org/download.html#svn

# For .clang-format options and customizations see the documentation:
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
AlignAfterOpenBracket:                           Align
AlignConsecutiveAssignments:                     true
AlignConsecutiveDeclarations:                    true
AlignEscapedNewlinesLeft:                        true
AlignOperands:                                   true
AlignTrailingComments:                           true
AllowShortBlocksOnASingleLine:                   false
AllowShortCaseLabelsOnASingleLine:               false
AllowShortFunctionsOnASingleLine:                None
AllowShortIfStatementsOnASingleLine:             false
AllowShortLoopsOnASingleLine:                    false
AlwaysBreakAfterReturnType:                      None
BinPackArguments:                                false
BinPackParameters:                               false
BreakAfterJavaFieldAnnotations:                  true
BreakBeforeBinaryOperators:                      None
BreakBeforeBraces:                               Custom
BraceWrapping:
  AfterClass:                                    true
  AfterControlStatement:                         true
  AfterEnum:                                     true
  AfterFunction:                                 true
  AfterNamespace:                                true
  AfterStruct:                                   true
  AfterUnion:                                    true
  BeforeCatch:                                   true
  BeforeElse:                                    true
  IndentBraces:                                  false
  SplitEmptyFunction:                            true
  SplitEmptyRecord:                              true
  SplitEmptyNamespace:                           true
BreakBeforeTernaryOperators:                     true
BreakConstructorInitializersBeforeComma:         true
BreakStringLiterals:                             true
ColumnLimit:                                     120
ConstructorInitializerAllOnOneLineOrOnePerLine:  true
Cpp11BracedListStyle:                            true
DerivePointerAlignment:                          true
IndentCaseLabels:                                true
IndentWidth:                                     4
IndentWrappedFunctionNames:                      true
Language:                                        Cpp
NamespaceIndentation:                            All
PointerAlignment:                                Left
ReflowComments:                                  true
SortIncludes:                                    false
SpaceBeforeAssignmentOperators:                  true
SpaceBeforeParens:                               ControlStatements
SpaceInEmptyParentheses:                         false
SpacesBeforeTrailingComments:                    1
SpacesInAngles:                                  false
SpacesInCStyleCastParentheses:                   false
SpacesInContainerLiterals:                       false
SpacesInParentheses:                             false
SpacesInSquareBrackets:                          false
TabWidth:                                        4
UseTab:                                          Never
